<div id="my-component" data-sly-use.contactCardComponent="au.edu.sydney.contacts.core.contactcard.ContactCardComponent">
    <!-- /* Here you call the Java Method */ -->
    <!-- /* Explanation : Imported Class + '.' + Uncapitalized java method name without 'get' */ -->
    <div data-sly-test="${contactCardComponent.contactCard}" >
    		<h1 data-sly-test="${contactCardComponent.contactCard.contactFullName}">${contactCardComponent.contactCard.contactFullName}</h1>
    		<h4 data-sly-test="${contactCardComponent.contactCard.contactRole}">${contactCardComponent.contactCard.contactFullName}</h4>
    		<div data-sly-test="${contactCardComponent.contactCard.phoneNumbers}">
	    		 <b>Phone:</b>
				    <div data-sly-list.phoneNumber="${contactCardComponent.contactCard.phoneNumbers}">
				        <p>${phoneNumber}</p>
				    </div>
    		</div>
    		<div data-sly-test="${contactCardComponent.contactCard.emails}">
    		 	<b>Email:</b>
			    <div data-sly-list.email="${contactCardComponent.contactCard.emails}">
			        <p>${email}</p>
			    </div>
    		</div>
    </div>
    		
    <div data-sly-test="${!contactCardComponent.contactCard}" data-sly-unwrap>
    	<div>
    		<h4 style="color:red">Please set correct path to contact</h4>
		</div>
    </div>
    
    <div data-sly-test="${contactCardComponent.error}">
    	<div>
    		<h4 style="color:red">${contactCardComponent.error}</h4>
		</div>
    </div>
</div>